@font-face {
    font-family: ReklameScriptRegularDEMO;
    src: url('fonts/ReklameScript-Regular_DEMO-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/ReklameScript-Regular_DEMO.woff') format('woff'), url('fonts/ReklameScript-Regular_DEMO.ttf') format('truetype');
}

@font-face {
    font-family: Lato;
    src: url('fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lato-light-webfont.woff') format('woff'), url('fonts/lato-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url('fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lato-regular-webfont.woff') format('woff'), url('fonts/lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url('fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lato-black-webfont.woff') format('woff'), url('fonts/lato-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Lato;
    src: url('fonts/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lato-lightitalic-webfont.woff') format('woff'), url('fonts/Lato-LightItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: Lato;
    src: url('fonts/lato-blackitalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/lato-blackitalic.woff') format('woff'), url('fonts/lato-BlackItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

html {
    font-family: Lato, sans-serif;
}

body {
    margin: 0px;
}

.slider,
.portfolio,
.footer,
.copyright {
    color: #d9d9d9;
}

a {
    color: #ff6760;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

b {
    font-weight: bold;
}

.slider,
.portfolio,
.footer {
    font-weight: lighter;
}

.header a,
.slider a,
.footer a {
    font-style: normal;
    color: #d9d9d9;
    text-decoration: none;
}

.header a:hover,
.slider a:hover,
.footer a:hover {
    color: #ff6760;
    text-decoration: none;
}

.header { 
    background-color: #262626;
}

.header:after {
    content: "";
    display: table;

    clear:both;
}

.content {
    text-align: center;
    margin: 0 auto;
    width: 1110px;
}

.header h1 {
    font-family: ReklameScriptRegularDEMO;
    float: left;
    margin: 0;
    margin-top: 28px;
    margin-bottom: 29px;
    margin-left: 40px;

    position: relative;
}

.header h1 a {
    font-size: 28px;
    font-weight: normal;
}


.header h1 a:before {
    content: " ";    
    background: url(img/sprite.png) no-repeat;
    background-position: -224px 0px;

    width: 39px;
    height: 33px;

    position: absolute;
    left: -40px;
    top: 8px;
}

.header h1 a .W {
    display: none;
}

.header-menu {
    float: right;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    padding: 45px 0;
}

.header-menu li {
    display: inline-block;
    padding-right: 30px;
}

.header-menu :last-child {
    padding-right: 0;
}

.slider {
    font-size: 40px;
    line-height: 50px;
    padding: 60px 0;
    background-color: #2a2a2a;
}

.slider h2 {
    font-size: 60px;
    font-weight: lighter;
    margin: 10px 0;
}

.slider-button, .portfolio-button {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 5px;
    padding: 0 44px;
    background-color: #ff6760;
}

.slider .slider-button:hover, .slider .portfolio-button:hover {
    color: #d9d9d9;
    background-color: #595959;
}

.services {
    background-color: #f8f8f8;
    padding: 95px 0 90px 0;
}

.services .content .box {
    display: inline-block;
    margin-right: 40px;
    color: #616161;
    width: 240px;
}

.services .content :last-child {
    margin-right: 0px;
}

.services .content .box .consectetur::before {
    background-position: 0px 0px;
    width: 47px;
    height: 54px;
}

.services .content .box .tristiquet::before {
    background-position: -47px 0px;

    width: 62px;
    height: 59px;
}

.services .content .box .fermentum::before {
    background-position: -109px 0px;
    width: 60px;
    height: 56px;
}

.services .content .box .elitultricies::before {
    background-position: -169px 0px;
    width: 55px;
    height: 65px;
}

.services .content .box h3::before {
    content: " ";
    display: block;
    background: url(img/sprite.png) no-repeat;
    margin: 0 auto;
    margin-bottom: 31px;
}

.services .content .box h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.services .content .box p {
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    margin: 0;
}

.portfolio {
    font-size: 14px;
    color: #616161;
    padding: 60px 0;
}

.portfolio .content h2 {
    font-size: 30px;
    color: #616161;
    margin-top: 0;
    margin-bottom:  26px;
}

.portfolio .content p {
    font-size: 20px;
    color: #616161;
}

.portfolio .content  {
}

.portfolio .content  input {
  position: absolute;
  left: -10000px;
}
 
.portfolio .content  label {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #d9d9d9;
    margin-top: 59px;
    margin-bottom: 25px;
    border-radius: 5px;
    padding-left: 0px;
    padding: 13px 19px;
    background-color: #ff6760;
}

.portfolio .content  label:hover {
    color: #d9d9d9;
    background-color: #595959;
}

.portfolio .content  input:checked + label {
    color: #d9d9d9;
    background-color: #595959;
}

.portfolio .content .works {
    /*empty spaces fix*/
    font-size: 0px;
    display: table;

    margin: 25px 0 20px -10px;
}

.portfolio .content .works img {
    margin-left: 10px;
    padding: 5px 0;
}

.portfolio .content  input:nth-of-type(1):checked ~ .works .all,
.portfolio .content  input:nth-of-type(2):checked ~ .works .graphic,
.portfolio .content  input:nth-of-type(3):checked ~ .works .illustration,
.portfolio .content  input:nth-of-type(4):checked ~ .works .motion {
    display: inline-block;
}

.portfolio .content .works img:nth-of-type(n) {
    display: none;
}

.footer {
    font-size: 20px;
    color: #bebebe;
    padding: 60px 0;
    background-color: #313131;
}

.footer h2 {
    font-size: 30px;
    color: #e0e0e0;
    margin-top: 0;
    margin-bottom: 26px;
}

.address {
    font-size: 14px;
    font-weight: normal;
}

.phone {
    font-size: 14px;
    font-weight: normal;
}

.address:before {
    display: inline-block;
    content: " ";
    background: url(img/sprite.png) no-repeat;
    background-position: -423px 0px;
    width: 9px;
    height: 13px;
    margin-right: 8px;
}

.address {
    margin-right: 50px;
}

.phone:before {
    display: inline-block;
    content: " ";
    background: url(img/sprite.png) no-repeat;
    background-position: -413px 0px;
    width: 10px;
    height: 11px;
    margin-right: 8px;
}

.footer .content .contacts {
    margin-top: 30px;
}

.footer .content .contacts li {
    display: inline-block;
    margin-right: 7px;
}


.footer .content .contacts li a:before {
    display: inline-block;
    content: " ";
    background: url(img/sprite.png) no-repeat;
}

.footer .content .contacts li .rss:before {
    background-position: -263px 0px;
    width: 30px;
    height: 30px;
}

.footer .content .contacts li .facebook:before {
    background-position: -293px 0px;
    width: 30px;
    height: 30px;
}

.footer .content .contacts li .twitter:before {
    background-position: -323px 0px;
    width: 30px;
    height: 30px;
}

.footer .content .contacts li .dribbble:before {
    background-position: -353px 0px;
    width: 30px;
    height: 30px;
}

.footer .content .contacts li .pinterest:before {
    background-position: -383px 0px;
    width: 30px;
    height: 30px;
}

.footer .content .contacts :last-child {
    margin-right: 0px;
}

.copyright {
    padding: 35px 0;
    background-color: #2c2c2c;
}

.copyright p {
    font-weight: normal;
    font-size: 14px;
    color: #bebebe;
    margin: 0px;
}

@media (max-width: 1110px) {
    .content {
        text-align: center;
        margin: 0 auto;
        width: auto;
    }

    .header h1 {
        display: inline-block;
        float: none;
        margin-bottom: 0px;
    }

    .header h1 a:before {
        position: absolute;
        left: -40px;
        top: 8px;
    }

    .header ul {
        float: none;

        margin: 20px 0;
        padding: 0;
    }

    .header ul :nth-child(1n) {
        padding-right: 5px;
    }

    .header ul :last-child {
        padding-right: 0;
    }

    .slider {
        padding: 10px;
        line-height: 1em;
    }

    .slider h2 {
        font-size: 2em;
        margin-bottom: 40px;
    }

    .slider p {
        font-size: 1em;
        margin: 20px;
    }

    .slider a {
        font-size: 1em;
        padding: 10px;
    }

    .services {
        padding: 0px;
    }

    .services .content .box {
        display: block;
        margin: 40px auto;
        width: auto;
    }

    .services .content .box h3 {
        margin-bottom: 10px;
    }

    .services .content .box h3:before {
        margin-bottom: 10px;
    }

    .portfolio .content .works {
        display: block;
        margin-top: 0px
    }

    .portfolio .content .works img {
        padding: 10px 5px;
    }

    .portfolio .content .works :nth-child(4n) {
        padding-right: 5px;
    }

    .portfolio .content h2 {
        font-size: 1.5em;
    }

    .portfolio .content  label {
        margin: 10px 0;
        padding: 10px 10px;
    }

    .address, .phone {
        display: block;
        margin: 15px auto;
    }
}