@font-face {
    font-family: ReklameScriptRegularDEMO;
    src: url(fonts/ReklameScript-Regular_DEMO.eot);
    src: local(ReklameScriptRegularDEMO), url(fonts/ReklameScript-Regular_DEMO.woff), url(fonts/ReklameScript-Regular_DEMO.ttf);
}

@font-face {
    font-family: LatoBlack;
    src: url(fonts/Lato-Black.eot);
    src: local(LatoBlack), url(fonts/Lato-Black.ttf);
}

@font-face {
    font-family: LatoLight;
    src: url(fonts/Lato-Light.eot);
    src: local(Lato-Light), url(fonts/Lato-Light.ttf);
}

@font-face {
    font-family: LatoLightItalic;
    src: url(fonts/Lato-LightItalic.eot);
    src: local(LatoLightItalic), url(fonts/Lato-LightItalic.ttf);
}

@font-face {
    font-family: LatoRegular;
    src: url(fonts/Lato-Regular.eot);
    src: local(LatoRegular), url(fonts/Lato-Regular.ttf);
}

body {
    font-family: 'Times New Roman', Arial, Helvetica, sans-serif;
    color: #d9d9d9;
    margin: 0px;
}

a, a:visited {
    color: #d9d9d9;
    text-decoration: none;
}

a:hover {
    color: #ff6760;
}

p {
    font-family: LatoLight;
}

b {
    font-family: LatoBlack;
}

i {
    font-family: LatoLightItalic;

    /* firefox rendering fix */
    font-style: normal;
}

.header { 
    background-color: #262626;
}

.header:after {
    content: "";
    display: table;

    clear:both;
}

.content {
    text-align: center;
    margin: 0 auto;
    width: 1110px;
}

h1 {
    font-family: ReklameScriptRegularDEMO;
    float: left;
    margin: 0;
    margin-top: 38px;
    margin-bottom: 29px;
    margin-left: 40px;

    position: relative;
    bottom: 10px;
}

h1 a {
    font-size: 28px;
    font-weight: normal;
}

h1 a:before {
    content: " ";    
    background: url(img/sprite.png) no-repeat;
    background-position: -224px 0px;

    width: 39px;
    height: 33px;

    position: absolute;
    left: -40px;
    top: 8px;
}

/* A versions older ie6 will hide symbol "W" from logo and show picture instead him */
h1 a :nth-child(1n) {
    display: none;
}

.header ul {
    font-family: LatoBlack;
    font-size: 13px;
    float: right;
    margin: 0px;
    padding: 45px 0;
}

/* defenition for ie6-7 */
.header ul li {
    display: inline;
}

/* :nth-child(1n) - redefinition for other browsers; */
.header ul :nth-child(1n) {
    display: inline-block;
    padding-right: 30px;
}

.header ul :last-child {
    padding-right: 0;
}

.slider {
    line-height: 50px;
    padding: 60px 0;
    background-color: #2a2a2a;
}

.slider h2 {
    font-family: LatoLight;
    font-size: 60px;
    font-weight: normal;
    margin: 10px 0;
}

.slider p {
    font-family: LatoLight;
    font-size: 40px;
}

.slider a {
    font-family: LatoBlack;
    font-size: 14px;
    display: inline-block;
    border-radius: 5px;
    padding: 0 44px;
    background-color: #ff6760;
}

.slider a:hover {
    color: #d9d9d9;
    background-color: #595959;
}

.services {
    background-color: #f8f8f8;
    padding: 95px 0 90px 0;
}

.services .content div {
    display: inline-block;
    margin-right: 40px;
    color: #616161;
    width: 240px;
}

.services .content :last-child {
    margin-right: 0px;
}

.consectetur::before {
    content: " ";
    background: url(img/sprite.png) no-repeat;
    background-position: 0px 0px;

    margin: 0 auto;

    width: 47px;
    height: 54px;
}

.tristiquet::before {
    content: " ";
    background: url(img/sprite.png) no-repeat;
    background-position: -47px 0px;

    margin: 0 auto;

    width: 62px;
    height: 59px;
}

.fermentum::before {
    content: " ";
    background: url(img/sprite.png) no-repeat;
    background-position: -109px 0px;

    margin: 0 auto;

    width: 60px;
    height: 56px;
}

.elitultricies::before {
    content: " ";
    background: url(img/sprite.png) no-repeat;
    background-position: -169px 0px;

    margin: 0 auto;

    width: 55px;
    height: 65px;
}

.services .content div h3::before {
    display: block;
    margin-bottom: 31px;
}

.services .content div h3 {
    font-family: LatoBlack;
    font-size: 18px;
    margin-bottom: 20px;
}

.services .content div p {
    font-family: LatoRegular;
    font-size: 14px;
    margin: 0;
}

.portfolio {
    font-size: 14px;
    color: #616161;
    padding: 60px 0;
}

.portfolio .content h2 {
    font-family: LatoBlack;
    font-size: 30px;
    color: #616161;
    margin-top: 0;
    margin-bottom:  26px;
}

.portfolio .content p {
    font-size: 20px;
    color: #616161;
}

.portfolio .content  {
}

.portfolio .content  input {
  position: absolute;
  left: -10000px;
}
 
.portfolio .content  label {
    display: inline-block;
    color: #d9d9d9;
    font-size: 12px;
    margin-top: 59px;
    margin-bottom: 25px;
    padding-left: 0px;
}

.portfolio .content  label {
    font-family: LatoBlack;
    border-radius: 5px;
    padding: 13px 19px;
    background-color: #ff6760;
}

.portfolio .content  label:hover {
    color: #d9d9d9;
    background-color: #595959;
}

.portfolio .content  input:checked + label {
    color: #d9d9d9;
    background-color: #595959;
}

.portfolio .content .works {
    /*empty spaces fix*/
    font-size: 0px;
    display: table;

    margin: 25px 0 20px 0;
}

.portfolio .content .works img {
    padding: 5px 0;
    padding-right: 10px;
}

.portfolio .content  input:nth-of-type(1):checked ~ .works .all,
.portfolio .content  input:nth-of-type(2):checked ~ .works .graphic,
.portfolio .content  input:nth-of-type(3):checked ~ .works .illustration,
.portfolio .content  input:nth-of-type(4):checked ~ .works .motion {
    display: inline-block;
}

.portfolio .content .works img:nth-of-type(n) {
    display: none;
}

.portfolio .content .works :nth-child(4n) {
    padding-right: 0px;
}

.footer {
    color: #bebebe;
    padding: 60px 0;
    background-color: #313131;
}

.footer h2 {
    font-family: LatoBlack;
    font-size: 30px
    color: #e0e0e0;
    margin-top: 0;
    margin-bottom: 26px;
}

.footer p {
    font-size: 20px;
}

.address {
    font-family: LatoRegular;
    font-size: 14px;
}

.phone {
    font-family: LatoRegular;
    font-size: 14px;
}

.address:before {
    display: inline-block;
    content: " ";
    background: url(img/sprite.png) no-repeat;
    background-position: -423px 0px;
    width: 9px;
    height: 13px;
    margin-right: 8px;
}

.address {
    margin-right: 50px;
}

.phone:before {
    display: inline-block;
    content: " ";
    background: url(img/sprite.png) no-repeat;
    background-position: -413px 0px;
    width: 10px;
    height: 11px;
    margin-right: 8px;
}

.footer .content ul {
    margin-top: 30px;
}

/* defenition for ie6-7 */
.footer .content ul li {
    display: inline;
}

/* :nth-child(1n) - redefinition for other browsers; */
.footer .content ul  :nth-child(1n) {
    display: inline-block;
    margin-right: 7px;
}

.footer .content ul :last-child {
    margin-right: 0px;
}

.rss:before {
    display: inline-block;
    content: " ";
    background: url(img/sprite.png) no-repeat;
    background-position: -263px 0px;
    width: 30px;
    height: 30px;
}

.facebook:before {
    display: inline-block;
    content: " ";
    background: url(img/sprite.png) no-repeat;
    background-position: -293px 0px;
    width: 30px;
    height: 30px;
}

.twitter:before {
    display: inline-block;
    content: " ";
    background: url(img/sprite.png) no-repeat;
    background-position: -323px 0px;
    width: 30px;
    height: 30px;
}

.dribbble:before {
    display: inline-block;
    content: " ";
    background: url(img/sprite.png) no-repeat;
    background-position: -353px 0px;
    width: 30px;
    height: 30px;
}

.pinterest:before {
    display: inline-block;
    content: " ";
    background: url(img/sprite.png) no-repeat;
    background-position: -383px 0px;
    width: 30px;
    height: 30px;
}

.copyright {
    padding: 35px 0;
    background-color: #2c2c2c;
}

.copyright p {
    font-family: LatoRegular;
    font-size: 14px;
    color: #bebebe;
    margin: 0px;
}

@media (max-width: 1110px) {
    body {
        width: 1110px;
    }
}